services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: devmax_account
      POSTGRES_USER: devmax_account_admin
      POSTGRES_PASSWORD: p;rXG1Y75E

    volumes:
      - planAce_data_bot:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U devmax_account_admin -d devmax_account" ]
      interval: 10s
      timeout: 5s
      retries: 10

    networks:
      - planAce_net

    ports:
      - "54321:5432"

    restart: unless-stopped

  tg-bot:
    container_name: tg-bot
    image: tg-bot:test
    environment:
      POSTGRES_HOST: postgres

    depends_on:
      postgres:
        condition: service_healthy
        restart: true

    networks:
      - planAce_net

    ports:
      - "8440:8443"

    restart: unless-stopped


volumes:
  planAce_data_bot:

networks:
  planAce_net:
    driver: bridge